extends layout

block content
  table.table-striped.table-bordered.table-hover.grid-products.table
    thead
      tr
        th img
        th sorting index
        th caption
        th description
        th currentPrice
        th mindBid
        th maxPrice
        th isSold
        th lastbidder
        th action
          a.btn.btn-mini.btn-info(type="button", data-target="#modal-new", role="button", data-toggle="modal") Add

    tbody
      - each product in products
        tr(id=product._id)
          td 
            img(src='#{product.url}')
          td #{product.index}
          td #{product.caption}
          td #{product.description}
          td #{product.currentPrice}
          td #{product.minBid}
          td #{product.maxPrice}
          td #{product.isSold}
          td #{product.lastBidder}
          td 
            a.btn.btn-mini.btn-info(type="button", data-target="#modal-#{product._id}", role="button", data-toggle="modal") Change
            a.btn.btn-mini.btn-danger(type="button", href='/product/#{product._id}/delete') Delete


  - each product in products
    mixin modal(product, { action: product._id })
  mixin modal({}, { action: "new" })